@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../Fonts/WEB/css/supreme.css'; 

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Supreme-Medium', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Tailwind custom scrollbar */
.drawer-scrollbar::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

.drawer-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); /* Set the thumb color */
  border-radius: 10px; /* Make the thumb rounded */
}

.drawer-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05); /* Set the track color */
}
